{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .main-content h3 {
        color: var(--base-color);
    }

    .main-content-highlight {
        display: grid;
        grid-gap: 5vh;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .highlight-blog {
        padding: 20px;
    }

    .highlight-logo {
        margin-bottom: 20px;
    }

    .highlight-logo img {
        height: 50%;
        width: 50%;
    }

    @media screen and (max-width: 991px) {
        .main-content-highlight {
            grid-template-columns: 1fr;
        }    
    }
</style>

<div class="container main-container p-5 text-center">
    <div class="main-title text-start fs-1 py-5">
        About Us
    </div>

    <div class="main-content">
        <div class="main-content-highlight">
            <div class="highlight-blog">
                <div class="highlight-logo">
                    <img class="img-fluid" src="{% static 'images/logo.png' %}"/>
                </div>

                <div class="highlight-title">
                    <h3>Fresh in the industry with innovative ideas</h3>
                </div>

                <div class="highlight-content">
                    <p>We are here to support you with all your in-home care, allied health and clinical services. Our goal is to bring the comfort back to your life based on individual needs and requirement.</p>
                </div>
            </div>

            <div class="highlight-blog">
                <div class="highlight-logo">
                    <img class="img-fluid" src="{% static 'images/logo.png' %}"/>
                </div>

                <div class="highlight-title">
                    <h3>A caring community of {{company_name}}s</h3>
                </div>

                <div class="highlight-content">
                    <p>We are a local company, our {{company_name}} staff are available with understanding of the unique and individual needs of our customers and their communities.</p>
                </div>
            </div>

            <div class="highlight-blog">
                <div class="highlight-logo">
                    <img class="img-fluid" src="{% static 'images/logo.png' %}"/>
                </div>

                <div class="highlight-title">
                    <h3>Our commitment to Safety and Excellence</h3>
                </div>

                <div class="highlight-content">
                    <p>Safety is our core priority, and we believe all injuries are preventable.</p>
                </div>
            </div>
        </div>

        <div class="main-content-vision p-3">
            <h3>Our mision</h3>
            <div class="mision">
                {{company_name}} focuses on personalized care, matching home care workers with your needs and environment.<br>
                Our company's mission objective is <b>"To assist clients to maintain their independence and quality of life in their own home"</b>.
            </div><br>

            <h3>Our vision</h3>
            <div class="vision">
               Our vision in an Australia that values and supports the contribution that carers make both to the people they care for and to the community as a whole.
            </div><br>

            <h3>Values</h3>
            <div class="values">
                <h6>Dignity and respect</h6>
                {{company_name}} treat people with dignity and respect regardless of their culture, religion, sex, age, race, sexual orientation or disability. {{company_name}} always accept and respect individuality.<br><br>
                <h6>Working together</h6>
                Empower, encourage, and enable people who need care and support and other staff to do things for themselves and to make their own decisions.<br><br>
                <h6>Learning reflection</h6>
                We are commited to the process of learning and developing themselves in our work.<br><br>
                <h6>Commitment to quality care and support</h6>
                {{company_name}} is commited and passionate about doing anything they can in their work to make people's life who need care and support easier.<br><br>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
