{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .main-content h3 {
        color: var(--base-color);
    }

    .main-content-highlight {
        display: grid;
        grid-gap: 5vh;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .highlight-blog {
        padding: 20px;
    }

    .highlight-logo {
        margin-bottom: 20px;
    }

    .highlight-logo img {
        height: 50%;
        width: 50%;
    }

    @media screen and (max-width: 991px) {
        .main-content-highlight {
            grid-template-columns: 1fr;
        }    
    }
</style>

<div class="container main-container p-5 text-center">
    <div class="main-title text-start fs-1 py-5">
        About Us
    </div>

    <div class="main-content">
        <div class="main-content-highlight">
            <div class="highlight-blog">
                <div class="highlight-logo">
                    <img class="img-fluid" src="{% static 'images/logo.png' %}"/>
                </div>

                <div class="highlight-title">
                    <h3>Fresh in the industry with innovative ideas</h3>
                </div>

                <div class="highlight-content">
                    <p>We are here to support you with all your in-home care, allied health and clinical services. Our goal is to bring the comfort back to your life based on individual needs and requirement.</p>
                </div>
            </div>

            <div class="highlight-blog">
                <div class="highlight-logo">
                    <img class="img-fluid" src="{% static 'images/logo.png' %}"/>
                </div>

                <div class="highlight-title">
                    <h3>A caring community of {{company_name}}s</h3>
                </div>

                <div class="highlight-content">
                    <p>We are a local company, our {{company_name}} staff are available with understanding of the unique and individual needs of our customers and their communities.</p>
                </div>
            </div>

            <div class="highlight-blog">
                <div class="highlight-logo">
                    <img class="img-fluid" src="{% static 'images/logo.png' %}"/>
                </div>

                <div class="highlight-title">
                    <h3>Our commitment to Safety and Excellence</h3>
                </div>

                <div class="highlight-content">
                    <p>Safety is our core priority, and we believe all injuries are preventable.</p>
                </div>
            </div>
        </div>

        <div class="main-content-vision p-3">
            <h3>Our vision</h3>
            <div class="vision">
                Our vision is making people’s lives better and our programs and services are inspired by our vision and values. This means we continually aspire to be:

                <ul>
                    <li>your first choice for in-home care and community services</li>
                    <li>a preferred employer attracting quality, compassionate team members</li>
                    <li>continually improving community outcomes</li>
                    <li>forging strong and positive relationships with our stakeholders which include our employees, volunteers, customers, their families and the community in general.</li>
                </ul>
            </div>

            <h3>Our mision</h3>
            <div class="mision">
                Ensure worldclass services to our clients
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
