{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container main-container p-5 text-center">
    <div class="main-title text-start fs-1 py-5">
        COVID-19 {{company_name}} Community Services Statement
    </div>

    <div class="main-content">
        <p>{{company_name}} wishes to advise all our customers, carers, stakeholders and community members that in regard to the current Coronavirus (COVID-19) event, {{company_name}}’s primary focus is their wellbeing. As an organisation {{company_name}} has well-established protocols and processes for infection control events which keep our customers, carers, family members, volunteers, staff and organisation partners as safe as we possibly can. It is our duty to ensure we are well-prepared and at the direction of the Department of Health.</p>
        <br><h2>HEALTH ALERT</h2>
        <p>As a precaution {{company_name}} is seeking disclosure from employees, volunteers, customers and community members we have a working relationship with, regarding any recent overseas travel, or contact with a confirmed coronavirus (COVID-19) case following the Australian Department of Health’s recommendations.</p>
        <br><h2>Coronavirus (COVID-19), what you need to know.</h2>
        <p>This information sheet from the Department of Health website tells you what you need to know about coronavirus (COVID-19). As a precaution, social distancing has been introduced by the Australian Government. {{company_name}} understands that social distancing may cause concern for many of our customers, staff and volunteers.</p>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
